/*==============================================================================
RESET
==============================================================================*/
@import '../stylereset/reset.styl'

/*==============================================================================
Global Style Variables
==============================================================================*/
banner-height = 200px

/*==============================================================================
Including other components
==============================================================================*/
@import '../allmodules/allstyles.styl'
