/*====================================================================
Fonts
====================================================================*/
@font-face 
    font-family: "Roboto"
    src: url("fonts/Roboto-Regular.ttf")
    
@font-face 
    font-family: "OpenSans"
    src: url("fonts/OpenSans-Regular.ttf")

@font-face 
    font-family: "SourceSansPro"
    src: url("fonts/SourceSansPro-Regular.ttf")

/*====================================================================
RESET
====================================================================*/
@import '../stylereset/reset.styl'

/*====================================================================
Global Variables
====================================================================*/
banner-height = 100px

/*====================================================================
Global Styles
====================================================================*/
body
    font-family: 'Roboto', sans-serif;

p
    font-family: 'OpenSans', sans-serif;

/*====================================================================
Including other components
====================================================================*/
@import '../allmodules/allstyles.styl'
