/*====================================================================
Fonts
====================================================================*/
@font-face 
    font-family: "Roboto"
    src: url("fonts/Roboto-Regular.ttf")
    
@font-face 
    font-family: "OpenSans"
    src: url("fonts/OpenSans-Regular.ttf")

@font-face 
    font-family: "SourceSansPro"
    src: url("fonts/SourceSansPro-Regular.ttf")

/*====================================================================
RESET
====================================================================*/
@import '../stylereset/reset.styl'

/*====================================================================
Global Variables
====================================================================*/

/*====================================================================
Global Styles
====================================================================*/
body
    font-family: 'Roboto', sans-serif;

p
    font-family: 'OpenSans', sans-serif;

/*====================================================================
Including other components
====================================================================*/
@import '../allmodules/allstyles.styl'

h1
    background-color green

img#carrot-habit-icon
    background-color black
    height 40px
    width 40px

h2#success-counter
    background-color green

button#success-button
    background-color: orange