doctype html
html
    head
        meta(charset='utf-8')
        title Carrot Habit
        link(rel='manifest' href='carrot-manifest.json')
        link(rel='icon' href='favicon.ico')
        link(rel='apple-touch-icon' sizes='180x180' href='img/carrot-icon.png')
        meta(name='description', content='Sample Habit Sub App the carrothabit')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        
        include styles-include.pug
        include scripts-include.pug
    include ../../source/carrothabit/carrothabitbody.pug
