//- gridcontent structure
#gridcontent
    a(href="carrothabit.html")
        #carrot-habit.habit-element
    a(href="cog-habit.html")
        #cog-habit.habit-element
    a(href="add-habit.html")
        #add-habit-element.habit-element
            svg(width="147" height="147" viewbox="0 0 147 147")#plus-svg
                rect(y="60.5" width="147" height="26")
                rect(x="60.5" y="147" width="147" height="26" transform="rotate(-90 60.5 147)")
    a(href="add-habit.html")
        #other-habit-element.habit-element
