// banner styles
#banner
    position relative
    background-color rgba(0, 0, 0, 0.2)
    width: 100%
    height: banner-height
    h1
        position absolute
        left 50%
        right 50%
        transform: translate(-50%, -50%)